form {
    width: 100%;
}

form h1 {
    color: #004578;
    font-size: 36px;
    margin: 15px 0;
    text-align: center;
    font-weight: 700;
}

form p {
    font-size: 14.5px;
    margin: 0 0 20px 0;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 6px;
    margin: 10px 0 10px 0;
    font-size: 14px;
    /* color: #333; */
}

.remember-me input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1.5px solid #7fa6cc;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.remember-me input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #004578;
    border-width: 0 2px 2px 0;
    transform: rotate(38deg);
    display: block;
}

.remember-me label {
    cursor: pointer;
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    font-size: 14.5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: inherit;
}

.btn {
    width: 100%;
    height: 48px;
    background: #004578;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 18px;
}

.btn:hover {
    background: #0056b3;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

.social-icons a:hover {
    color: #fff;
    background: #004578;
    border-color: #004578;
}

.modal-error-message {
  color: #333; 
}

.password-reset-title {
    font-size: 24px;
    color: #004578;
    text-align: center;
    margin-bottom: 20px;
}

.password-reset-message {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.password-reset-input {
    padding: 6px;
    width: 90%;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
    color: #000;
}