@import "tailwindcss";

.button-primary {
    @apply w-full h-12 bg-blue-900 rounded-lg shadow-blue-950 
    border-none cursor-pointer text-base text-white font-semibold mt-2.5 mb-4
    hover:bg-blue-700 hover:shadow-blue-500 transition hover:text-lg;
}

.input-field {
    @apply w-full py-3 pr-12 pl-5 bg-blue-50 rounded-lg border-none outline-none focus:outline-none
    text-base text-gray-800 font-medium placeholder:text-gray-600 placeholder:font-normal mb-4
    flex items-center relative;
}

.social-icons{
    @apply inline-flex p-2.5 border-2 border-gray-300 rounded-lg text-2xl text-gray-800
    no-underline mx-2 transition-colors duration-200 hover:text-white hover:bg-blue-950 
    hover:border-gray-500;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #b0b6c1, #6b7fa8);
}

.panel-header h1 {
    color:#004578;
    font-size: 36px;
    margin: -10px , 0;
}

.panel-header p {
    font-size: 14.5px;
    margin: 15px 0;
}

@media screen and (min-width: 651px) {
        form {
        padding: 0;
    }

    .form-box {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        padding: 0;
    }

    .panel-header h1 {
        font-size: 36px;
    }
} */