
.password-reset-title {
    font-size: 24px;
    color: #004578;
    text-align: center;
    margin-bottom: 20px;
}

.password-reset-message {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.password-reset-input {
    padding: 6px;
    width: 90%;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    background: #fff;
    color: #000;
}